:root {
  /* Score Bg Colors */
  --c-bg-result: linear-gradient(
    180deg,
    rgba(103, 67, 255, 1) 0%,
    rgba(49, 44, 234, 1) 100%
  );
  --c-bg-score: linear-gradient(
    0deg,
    rgba(69, 51, 235, 0.9) 42%,
    rgba(79, 36, 203, 1) 100%
  );

  /* Neutral Color */
  --c-white: hsl(0, 0%, 100%);
  --c-pale-blue: hsl(221, 100%, 96%);
  --c-light-blue: hsl(244, 60%, 85%);
  --c-dark-gray-blue: hsl(224, 30%, 27%);

  /* Font */
  --ff-primary: "Hanken Grotesk", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* Body Layout */

body {
  min-height: 100vh;
  display: grid;
  justify-items: center;

  background-color: #6148f8;
  background-image: url(./assets/bg-pattern.svg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  color: var(--c-dark-gray-blue);

  font-family: var(--ff-primary);
  font-size: 1.125rem;
  font-weight: 500;
}

/* Main Card */

.card {
  display: grid;
  grid-template-columns: 1fr;

  background: var(--c-white);
  max-width: 46rem;
  border-radius: 2rem;
}

/* Result Section */

.card__result {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--c-bg-result);
  color: var(--c-light-blue);
  border-radius: 0 0 2rem 2rem;
}

.card__result h2 {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: 700;
}

.result--score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--c-bg-score);
  width: 8.5rem;
  height: 8.5rem;
  margin-top: 1.5rem;
  border-radius: 9999px;
}

.result--score > p {
  margin-top: 0.6rem;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.24;
  color: var(--c-white);
}

.result--score > span {
  opacity: 0.6;
}

.result--calc {
  margin-top: 1.75rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--c-white);
}

.calculating {
  color: var(--c-light-blue);
  font-weight: 500;
}

.result--text {
  padding-top: 0.5rem;
  padding-bottom: 2.5rem;
  padding-inline: 3.5rem;
  font-size: 1rem;
  text-align: center;
}

/* Summary Section */

.card__summary {
  padding: 1.5rem 2rem;
}

.card__summary h2 {
  font-size: 1.1rem;
  font-weight: 700;
}

.summary--items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.05rem;

  min-height: 19rem;
  margin-top: 1.6rem;
}

.item--row {
  display: grid;
  grid-auto-flow: column;

  padding: 1rem;
  border-radius: 0.5rem;
}

.item--category {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.item--score {
  justify-self: self-end;
  margin-left: auto;
  color: var(--c-light-blue);
}

.item--score span {
  color: var(--c-dark-gray-blue);
  font-weight: 700;
}

.summary--items button {
  background: var(--c-dark-gray-blue);
  margin-top: 0.5rem;
  height: 3.5rem;
  line-height: 3.5rem;

  font-size: 1.08rem;
  font-weight: 600;
  color: var(--c-white);

  cursor: pointer;
  border: 0;
  border-radius: 6rem;
}

.summary--items button:hover {
  background: var(--c-bg-score);
}

.summary--items button:disabled {
  background: var(--c-light-blue);
  cursor: default;
}

/*-------- DESKTOP -------*/

@media screen and (min-width: 48em) {
  body {
    align-content: center;
  }

  .card {
    grid-template-columns: 1fr 1fr;
    margin-top: 3.9rem;
    min-height: 32rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  /* Result Section */

  .card__result {
    border-radius: 1.8rem;
  }

  .card__result h2 {
    margin-top: 2.35rem;
    margin-left: -0.4rem;
    font-size: 1.5rem;
  }

  .result--score {
    width: 12.5rem;
    height: 12.5rem;
    margin-top: 2.22rem;
  }

  .result--score > p {
    margin-top: 0.58rem;
    margin-left: 0.1rem;
    font-size: 4.45rem;
    line-height: 1;
    opacity: 1;
  }

  .result--score span {
    margin-top: 0.25rem;
    margin-left: -0.2rem;
  }

  .result--calc {
    margin-top: 1.75rem;
    margin-left: -0.36rem;
    font-size: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--c-white);
  }

  .result--text {
    padding-top: 0.85rem;
    font-size: 1.125rem;
  }

  /* Summary Section */

  .card__summary {
    padding: 2.39rem 2.5rem;
  }

  .card__summary h2 {
    font-size: 1.5rem;
  }

  .summary--items {
    margin-top: 1.8rem;
  }

  .item--score span {
    margin-right: 0.25rem;
  }

  .summary--items button {
    margin-top: 1.51rem;
    padding-top: 0.1rem;
  }
}

/* Animations */

.fading--left {
  animation: fadeLeft 0.5s ease 0s 1 normal forwards;
}

.greeting {
  animation: scaleUp 1s ease 0s 1 normal forwards;
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(3);
  }

  100% {
    transform: scale(1);
  }
}

/* Footer */

.footer--attribution {
  margin-block: 1.5rem;

  font-size: 0.688rem;
  text-align: center;
  color: hsl(var(--white), 0.4);
}

.footer--attribution a {
  color: hsl(var(--white), 0.4);
}

/* screen readers */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
